<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>布局demo</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../../assets/css/common.css">
    <link rel="stylesheet" href="../../assets/css/demo/layout.css">
</head>

<body>
	<h2 class="demo-name">左右结构</h2>
	<div class="left-right layout--justify">
		<div class="left-right__item layout--justify__item">左</div>
		<div class="left-right__item layout--justify__item">右</div>
	</div>
	<h2 class="demo-name">图文两端对其</h2>
	<div class="nav layout--justify">
		<a class="nav__item layout--justify__item" href="###">
			<img src="../../assets/image/demo/layout/nav-bg.png" alt="" class="nav__item__pic">
			<p class="nav__item__describe">某某</p>
		</a>
		<a class="nav__item layout--justify__item" href="###">
			<img src="../../assets/image/demo/layout/nav-bg.png" alt="" class="nav__item__pic">
			<p class="nav__item__describe">某某</p>
		</a>
		<a class="nav__item layout--justify__item" href="###">
			<img src="../../assets/image/demo/layout/nav-bg.png" alt="" class="nav__item__pic">
			<p class="nav__item__describe">某某</p>
		</a>
		<a class="nav__item layout--justify__item" href="###">
			<img src="../../assets/image/demo/layout/nav-bg.png" alt="" class="nav__item__pic">
			<p class="nav__item__describe">某某</p>
		</a>
	</div>

	<h2 class="demo-name">多个信息在一列,垂直居中</h2>
	<div class="info layout--v-center">
		<img src="" alt="" class="info__pic">
		<span class="info__phone">1381266***</span>
		<div class="info__score">5分</div>
		<span class="info__time">8/3</span>
	</div>

	<div class="footer">
		<h2 class="demo-name">固定的底部导航</h2>
		<div class="footer__items">
			<a href="" class="footer__item">导航1</a>
			<a href="" class="footer__item">导航2</a>
			<a href="" class="footer__item">导航3</a>
		</div>
	</div>

    <script src="../../assets/vendor/caculate-rem.js"></script>
</body>

</html>
