@charset "utf-8";


//** Global text color on `<body>`.
$text-color:            #333 !default;


//** Global textual link color.
$link-color:            $text-color !default;
//** Link hover color set via `darken()` function.
$link-hover-color:      $text-color !default;


$font-family-sans-serif:  "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-serif:       Georgia, "Times New Roman", Times, serif !default;
$font-family-yahei:tahoma,arial,"STXihei","Microsoft YaHei New", "Microsoft Yahei", "微软雅黑", "宋体", SimSun;
$font-family-hei:tahoma,arial,"STXihei",SimHei,"Microsoft YaHei New", "Microsoft Yahei", "微软雅黑", "宋体", SimSun;
$font-family-song:tahoma,arial,"宋体", SimSun;
